/* ===========================
   FONTS
   =========================== */

/* jura-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/jura-v34-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ===========================
   RESET
   =========================== */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
      
img,
picture,
video {
    display: block;
    max-width: 100%;
    height: auto;
}
      
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    background: none;
    border-color: transparent;
}
      
a {
    text-decoration: none;
    color: inherit;
}
      
ul,
ol {
    list-style-type: none;
}
      
/* ===========================
       CSS VARIABLES
   =========================== */
      
:root {
      
    /* Primary */

    --pink-300: hsl(296, 63%, 87%);
    --pink-200: hsl(312, 16%, 94%);
    --yellow-300: hsl(67, 47%, 89%);
    --green-300: hsl(193, 15%, 82%);
    --purple-300: hsl(238, 75%, 80%);
    
    /* Neutral */
    
    --black-700: hsl(220, 6%, 10%);
    
    /* Typography*/

    --font-base: 'Jura', sans-serif;
}
   
/* ===========================
      BASE
   =========================== */
   
body {
    font-family: var(--font-base);
    color: white;
    background-color: var(--black-700);
    font-size: 26px;
}

/* ===========================
   LAYOUT & ELEMENTS
   =========================== */

.container {
    width: 100%;
    display: grid;
    padding: 16px;
    grid-template-columns: auto 1fr auto; 
    grid-template-rows: auto auto;
    grid-template-areas:
      "percent box image"
      "empty-1 wrapper empty-2";
    gap: 8px;
    align-items: center;
}

.container__image {
    width: 56px;
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 1))
            drop-shadow(0 0 14px rgba(255, 255, 255, 1));
}

.container__percent {
    grid-area: percent;
}

.container__box {
    grid-area: box;
    width: 100%;
    min-width: 300px;
    height: 50px;
    background: #ffffff;
    background: linear-gradient(120deg,rgba(255, 255, 255, 0.4) 0%, rgba(250, 250, 250, 0.1) 95%);
    border-radius: 50vh;
    z-index: 0;
    overflow: hidden;
    position: relative;
}   

.container__box::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    padding: 1px;                /* thickness of the border */
    border-radius: inherit;      /* match parent's rounded corners */
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.6) 0%, rgba(250, 250, 250, 0.2) 95%);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
            mask-composite: subtract;
    pointer-events: none;        /* so it doesn’t block interactions */
    z-index: 1;
  }

.container__progress-bar {
    width: 96%;
    margin: 7px;
    background: linear-gradient(90deg, var(--pink-300) 0%, var(--pink-200) 25%, var(--yellow-300) 50%, var(--green-300) 75%, var(--purple-300) 100%);
    border-radius: 50vh;
    height: 36px;
}

.container__wrapper {
    grid-area: wrapper;
    display: flex;
    justify-content: space-between;
}

.container__image {
    grid-area: image;
}

.empty-1 {
    grid-area: empty-1;
}

.empty-1 {
    grid-area: empty-2;
}